

/**Nurse Admon**/
.login--wrapper {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login--leftContent {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #00c2ff, #5addee, #cbffd9);
  color: #388440;
  font-weight: 700;
  font-size: min(1.5rem, 3.5vw);
}

.login--Btn {
  width: 80%;
  color: white;
  margin-bottom: 4%;
 
}

.mantine-g9emdi,
.mantine-9zz0g4{
  font-family: Inter;
}

.mantine-1fzet7j{
  margin-bottom: 10px;
}



/**Head Admin **/
.login-H-leftContent {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, black, grey);
  color: white;
  font-weight: 700;
  font-size: min(1.9rem, 3.5vw);
}


.headNav {
  background-color: #EBEDF0;
  border-bottom: 1px solid grey;
}

.secName {
  font-weight: 600;
  font-size: 14px;
  color: #848484;
}

.secRole {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #848484;
}

.adminProfile {
  height: min(45px, 12vw);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Head--DashboardContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.headernavContent{
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.Head--Dashboard-left {
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px 0 0 8px;
  width: 65%;
  height: 100%;
  background-color: #dbf4ff;
}
.Head--Dashboard-left > div:nth-child(1) {
  border: 1px solid blue;
  height: 10%;
  width: 95%;
}
.Head--Dashboard-left > div:nth-child(2) {
  height: 85%;
  width: 95%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.Head--Dashboard-right {
  display: flex;
  border: 1px solid yellow;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 35%;
  height: 100%;
  background-color: #bfeeff;

}
.Head--Dashboard-right > div:nth-child(1) {
  border: 1px solid red;
  height: 65%;
  width: 95%;
}
.Head--Dashboard-right > div:nth-child(2) {
  height: 30%;
  width: 95%;
}


.InsertDS{
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addButtonHeight{
  height: 50%;
  width: 100%;
}

.addButtonDS{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
}


/* Override for forms */
.mantine-x2n6g8{
  border-color: rgba(0, 0, 0, 0.5) !important;
}

.mantine-eu35wv:focus-within{
  border-color: #80bdff !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.mantine-1fzet7j, .mantine-1fxk4ww{
  font-family: Inter !important;
}

.addconfirmbuttonrow > button {
  border-radius: 10px !important;
  margin: 5px;
  width: 90px;
}

.availableDoctorandSecList{
  background-color: rgba(217, 217, 217, 0.3);
  width: 95%;
  height: 85%;
  border-radius: 10px;
  overflow-y: scroll;

}
.selectObject{
  width: 250px;
  box-shadow: none !important;
  border:  none !important;
  font-family: 'Montserrat' !important;
  font-weight: 600 !important;
  color: #434343 !important;
  font-size: 18px !important;
  background-image: url(/public/images/silverarrowdown.png) !important ;
}

.docandseccontainer{
  background: #D9D9D9;
  border-bottom: 1px solid #848484;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.docandsecrow{
  display: flex;
  align-items: center;
  justify-content: center;
}

.docandsecContent{

  margin-top: 1%;
  margin-bottom: 1%;
  margin-left:5% ;
}