body {
  box-sizing: border-box;
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

/*! HOME CSS */

/* Navbar */
.navbarcontainer {
  background-color: #fff !important;
  border-bottom: 1px solid #cbffd9;
  font-size: 16px;
}
.navheader {
  margin-right: 55px;
  color: #618665 !important;
}
.navheaderend {
  color: #618665 !important;
}
select:focus {
  outline: none;
}
.nav-link:hover {
  font-weight: 550;
}

/* Navbar */

/* HeaderImg */
.headerwave-container {
  align-items: left;
  background: linear-gradient(180deg, #00c2ff, #5addee, #cbffd9);
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.headerinfo {
  padding: 60px 0;
  padding-top: 120px;
}

.homeinfo {
  color: #388440;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 35px;
}

.headermed-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("./images/headermed3.png");
  height: 58vh;
  overflow: hidden;
  position: relative;
}

.headerbutton {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homefloatinginfo-container {
  align-items: left;
  background: rgba(243, 243, 243, 0.9);
  border-radius: 20px;
  bottom: 2vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  display: flex;
  flex-direction: column;
  height: 12vw;
  left: auto;
  position: absolute;
  right: 1.5vw;
  top: auto;
  width: 30vw;
}

.floatinginfotitle {
  color: #388440;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
  text-align: right;
}

.floatinginfodescription {
  color: #323232;
  font-size: 0.88vw;
  font-style: normal;
  font-weight: 500;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: justify;
}

/* HeaderImg */

/* HowTo */
#myCarousel {
  color: #848484;
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 20px;
  text-align: center;
}
#howtobg {
  background: rgba(36, 183, 233, 0.15);
}

.tagtitle {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.tagsupport {
  color: #848484;
  font-weight: 500;
  text-align: center;
}

.carousel-inner {
  font-size: 21px;
}

/* HowTo */

/* Services */
.home_body {
  overflow-x: hidden;
}
.services-info {
  background: rgba(243, 243, 243) !important;
  border-radius: 30px !important;
  max-width: 525px !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  margin-top: -8vh;
  z-index: 1;
  margin-bottom: 10px;
  position: relative;
}

.serv-text {
  font-weight: 600;
  font-size: 24px;
  color: #2f9d44;
  font-family: "Montserrat", sans-serif;
}

.serv-sub {
  font-weight: 400;
  font-size: 16px;
  color: #848484;
  font-style: normal;
  text-align: justify;
  line-height: 25px;
}

.services-container {
  margin: 30vw;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 0;
}

/* Services */

/*!Search Form*/

.searchForm-container {
  display: flex;
  flex-direction: column;
  background-color: #def4fc;
  justify-content: center;
  align-items: center;
}

.form-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(90%, 1600px);
  padding: 50px;
}

.form-search > * {
  margin: 0 5px;
}

.form-search > input,
select {
  text-align: center;
  border-color: rgba(56, 132, 64, 1) !important;
  font-size: 15px !important;
}

.Search,
.Clear {
  border-radius: 40px;
  padding: 5px 20px;
}

.Search {
  background-color: #24b7e9;
  border: none;
}

.Clear {
  border: none;
  background-color: #d2302c;
}

.Clear:hover {
  background-color: #c71e00;
}
.mantine-1n8gmw6[data-active] {
  background-color: #2f9d44 !important;
}

/*!Card Container */

.card-container {
  display: flex;
  justify-content: center;
  width: min(80%, 1500px);
  margin: 2% auto;
  margin-top: 0;
  padding: 25px 0;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 8px;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 30rem));
  border-radius: 5px;
  width: 1700px;
  overflow: hidden;
  overflow-y: auto;
  color: rgba(75, 80, 109, 1);
}

.grid-container2 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 30rem));
  border-radius: 8px;
  text-align: center;
  width: 1700px;
  color: rgba(75, 80, 109, 1);
}

.doctor-flexbox-container {
  position: relative;
  flex-direction: row;
  border: 1px solid #24b7e9;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-family: "Inter";
}

.doctor-flexbox-container2 {
  position: relative;
  flex-direction: row;
  border: 1px solid #24b7e9;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  height: 260px;
}

.doctor-flexbox-view:hover {
  color: #388440;
  cursor: pointer;
}

.doctor-flexbox-Info {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.doctor-flexbox-view {
  margin-top: 10%;
  text-align: center;
}

.doctor-flexbox-Info .Lname {
  font-weight: bold;
  font-size: 1.1rem;
}

.doctor-flexbox-Info .Fname {
  margin-bottom: 15px;
  font-size: 1rem;
}

.HMO_choosedoctor {
  position: absolute;
  left: 55%;
  top: 35%;
}

.HMO_choosedoctor .HMO_Head {
  font-weight: 600;
  color: #388440;
  font-size: 1rem;
}

.doctor-flexbox-Info .specialization,
.HMO_Accreditation {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 2px;
}

.doctor-flexbox-Info .HMO_Accreditation .HMO_Head {
  font-weight: 600;
  color: #388440;
  font-size: 1rem;
}

.doctor-flexbox-Avail {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 52%;
  color: #388440;
}

.doctor-flexbox-Avail > div {
  text-align: center;
}

.doctor-flexbox-Avail .header {
  margin-bottom: 10px;
  font-weight: bold;
}

.header {
  font-size: 1.1rem;
}

.sched {
  font-weight: 600;
  font-size: 0.75rem;
}

.notFound {
  font-size: 3rem;
}

/*  
.moreSchedB {
  color: rgba(75, 80, 109, 1);
  font-weight: 600;
  font-size: 0.85rem;
  margin: 1%;
}

.moreSchedB:hover {
  color: #388440;
  cursor: pointer;
}
*/

.moreHMOB {
  color: rgba(75, 80, 109, 1);
  font-weight: 600;
  font-size: 0.85rem;
}

/*Home--Tracker*/
.TrackAtHome--buttonRow {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TrackAtHome--buttonRow > button {
  border: none;
  margin: 0 auto;
  border-radius: 20px;
  width: 45%;
}

/*!Track Me*/

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.form-track {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-track input {
  text-align: center;
  width: 800px !important;
  font-size: 14px !important;
  padding: 5px;
}

.Search-track {
  margin: 20px 0;
  border: none;
  border-radius: 40px;
  padding: 5px 20px;
  background-color: #24b7e9;
}
.otp-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.otp-input {
  text-align: center;
  width: max(300px, 70%);
  margin: 0 auto;
}

.notification {
  color: red;
}

.Tracker--modalHeader {
  border: none;
  padding: 10px;
  background-color: #e6e6e8;
}
.Tracker--modalBody {
  padding: 0 50px 30px 50px;
  background-color: #e6e6e8;
}

.Tracker--modal--flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Tracker--modal--patient-name {
  font-family: "Montserrat";
  color: #4b506d;
  font-weight: bold;
  font-size: min(1.4rem, 3.8vw);
}
.Tracker--modal--patient-details {
  padding: 0;
  margin: 2px 0;
  font-size: min(0.95rem, 3.1vw);
}
.Tracker--modal--date-details {
  color: #388440;
  padding: 0;
  margin: 2px 0;
  font-size: min(0.9rem, 3vw);
}

.Tracker--modal--doctor-details {
  color: #4b506d;
  padding: 0;
  margin: 2px 0;
  font-size: min(1.1rem, 3.2vw);
}

/*!Book Appointment CSS */

.Tracking--NavBar {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.NavBar--background {
  width: 100%;
  height: 7vh;
  margin-bottom: 1.5%;
}

.NavBar--logo {
  position: absolute;
  top: 15%;
  left: 3%;
}

.NavBar--logo:hover {
  cursor: pointer;
}

.Tracking--Footer {
  width: 100%;
  margin-top: auto;
  overflow: hidden;
}

.Tracking--Footer img {
  width: 100%;
}

.Track--main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.Track--sub_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(90%, 800px);
  margin-top: 3%;
}

.sub-title {
  margin-top: 15px;
  font-weight: 500;
}

.end-title,
.sub-title {
  font-size: min(18px, 3.5vw);
  text-align: center;
  margin: 0 2%;
}

.Track--tagtitle {
  color: rgba(56, 132, 64, 1);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: min(25px, 6vw);
  font-weight: 600;
  margin-top: 10px;
}

.patient-list_Container {
  padding: 2% 3.5%;
  overflow-y: scroll;
  background: rgba(217, 217, 217, 0.3);
  border-radius: 10px;
  height: 63vh;
  width: 100%;
  margin-bottom: 15px;
}

.LandingPage--Loading-Card {
  border-radius: 8px;
}

.patient-card {
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 15px 40px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.patient-name {
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 12px 0;
}

.patient-gender {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 12px;
}

.View-btn,
.Edit-btn {
  color: white;
  border-radius: 5px;
  font-weight: 500;
  padding: 6 min(15px, 4.5vw);
  font-size: min(15px, 2.5vw);
  white-space: nowrap;
}

.View-btn {
  background-color: #388440;
  margin: 0 20px 0 0;
}

.Edit-btn {
  background-color: #24b7e9;
}

/*! View Appointments CSS */

.ViewAppointments-header {
  margin-top: 1%;
  font-weight: 600;
  color: #388440;
  font-size: min(28px, 5vw);
}

.View-appointment_Main-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.View-appointment_Main-Container > div:nth-child(1) {
  text-align: center;
}

.Appointment_Container {
  display: flex;
  flex-direction: column;
  width: min(100%, 1000px);
  height: 100%;
  border-radius: 12px;
  padding: 1rem;
}

.appointment-card {
  height: fit-content;
  border: 1px solid grey;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}

.appointment-card--patient-info {
  margin-left: 2%;
}

.appointment-card--patient-info > div,
.appointment-card--doctor-info > div {
  padding: 5px 0;
}

.appointment-card--doctor-info {
  text-align: right;
}

.card--patient-name,
.card--doctor-name {
  font-weight: 600;
  font-size: min(1.3rem, 3.6vw);
}

.card--appointment-header,
.card--doctor-spec {
  font-size: min(1rem, 3.3vw);
}

.appointment-date {
  font-size: min(0.9rem, 3.1vw);
  color: green;
  font-weight: 600;
}

.appointment-card > div {
  padding: 1.5% 2%;
}

.appointment-card > div:nth-child(1) {
  width: 70%;
}

.appointment-status {
  font-size: 1.4rem;
  font-weight: 600;
}

.grey {
  color: grey;
  font-size: min(20px, 4vw);
}

.blue {
  color: blue;
  font-size: min(20px, 4vw);
}

.red {
  color: red;
  font-size: min(20px, 4vw);
}

.green {
  color: green;
  font-size: min(20px, 4vw);
}

.hr {
  display: none;
}
.edit-title {
  color: #388440;
  font-weight: 600;
  font-size: min(1.4rem, 6vw);
  margin: 5% auto 5% auto;
}
.editPage-Container {
  display: flex;
  flex-direction: column;
  width: min(80%, 800px);
  gap: 15px;
  margin: 0 auto;
}
.edit-gray {
  color: grey;
  font-weight: 600;
  font-size: min(1rem, 3vw);
}
.edit-legend {
  font-weight: 600;
  width: 50%;
  font-size: min(1rem, 3vw);
}
.edit-input {
  font-size: min(1rem, 3vw);
}
.info-row {
  display: flex;
  width: 90%;
  align-items: center;
}

.edit-Button_Row {
  margin-top: 3%;
  text-align: end;
  width: 90%;
  margin-right: 10%;
}
.edit-Button_Row > button {
  border: none;
  margin: 0 auto;
  font-size: min(1rem, 3vw);
  margin-left: 2%;
  height: 4vh;
  padding: 0 min(7%, 6vw);
  border-radius: 5px;
}

.edit-save {
  background-color: #24b7e9;
  border: none;
  border-radius: 20px;
  width: 100%;
  font-size: min(1rem, 2.5vw);
}
.edit-back {
  background-color: red;
  border: none;
  border-radius: 20px;
  width: 100%;
  margin-right: 8%;
  font-size: min(1rem, 2.5vw);
}

.modalButton_row {
  display: flex;
  margin-top: 3%;
  width: max(40%, 220px);
}
.modalButton {
  border: none;
  border-radius: 20px;

  font-size: min(1rem, 2.5vw);
}

/*! Shake Animation */

.shake-error {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* search doctor */

/* Overrides for datepicker */

/* days of the week */
.mantine-480qv8 {
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-family: "Montserrat";
}

.mantine-13utz3y {
  font-size: 16px;
  font-weight: 500;
}

/* dates */
.mantine-22yr1m {
  font-family: "Montserrat";
  font-weight: 600;
  height: 2.6rem;
  font-size: 16px;
  margin-bottom: 0.3rem;
}

.mantine-22yr1m:hover {
  background: rgba(34, 208, 52, 1);
}

/* monthheader*/
.mantine-kyxsp3 {
  font-family: "Montserrat";
  font-weight: 600;
  margin-bottom: 0;
}
.mantine-kyxsp3:hover {
  background: rgba(34, 208, 52, 1);
}
/* monthselection*/
.mantine-iare1g {
  font-family: "Montserrat";
  font-weight: 600;
}
.mantine-iare1g:hover {
  background: rgba(34, 208, 52, 1);
}

/* yearselection*/
.mantine-1g2a0oc {
  font-family: "Montserrat";
  font-weight: 600;
}

.mantine-1g2a0oc:hover {
  background: rgba(34, 208, 52, 1);
}

/* arrows */
.mantine-i0mq7l:hover {
  background: rgba(34, 208, 52, 1);
}

.mantine-1cmw7vj {
  height: 2rem;
  width: 2rem;
}

/*****Booking CSS******/

.Booking--wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.booking--headerwave-container {
  background: linear-gradient(180deg, #00c2ff, #5addee, #cbffd9);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 1.2% 0;
  padding-left: 2%;
}

.Booking--navBar-logo {
  max-width: 50%;
}
.Booking--footerwave-container {
  background: linear-gradient(360deg, #00c2ff, #5addee, #cbffd9);
  height: 4vh;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(97, 134, 101, 1);
}

.Booking--homefooterwave-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(360deg, #00c2ff, #5addee, #cbffd9);
  height: 12vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: rgba(97, 134, 101, 1);
}
.FirstPage--body-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
}
.Booking-banner {
  width: 87.5%;
  height: 87.8vh;
  object-fit: scale-down;
}

.Banner-wrapper {
  width: 50%;
  overflow: hidden;
}
.First_Page_Content {
  flex-grow: 1;
}
.First_Page_Content > h3 {
  margin: 15% 0 5% -3%;
  color: #323232;
  font-size: min(28px, 4.5vw);
}

.First_Page_Content > h5 {
  margin-bottom: 2%;
  color: rgb(82, 81, 81);
  font-size: min(21px, 3.5vw);
}

.First_Page_Content > p {
  margin-bottom: 2%;
  color: rgb(82, 81, 81);
  font-size: min(1rem, 3vw);
}

.FirstPage_error {
  font-size: min(1rem, 3vw);
  color: red;
  font-weight: 600;
}

.patientinfo_error {
  color: red;
  font-weight: 600;
  font-size: 15px;
}

.First-page_input {
  margin-bottom: 1%;
  width: min(100%, 350px);
  max-width: 100%;
  border: 1px solid grey;
  font-size: min(1rem, 3vw);
}
#terms {
  margin-right: 1%;
}
.terms {
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: min(1rem, 3vw);
}

.FirstPage--buttonRow > button {
  padding: 1.5%;
  color: white;
}

.FirstPage--buttonRow {
  text-align: center;
  margin: 20% 18% 0 25vw;
}
.FirstPage--buttonRow > button:nth-child(1) {
  background-color: red;
  border: none;
  border-radius: 20px;
  width: 40%;
  margin-right: 5%;
}

.FirstPage--buttonRow > button:nth-child(2) {
  background-color: #24b7e9;
  border: none;
  border-radius: 20px;
  width: 40%;
}

/* .Options_H2 {
  font-size: min(2rem, 5vw);
} */

.Options_P {
  text-align: justify;
}
.radio-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.radioLabel {
  width: 70%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radioLabel > input + div {
  border: 1px solid grey;
  background-color: #ececec;
  text-align: center;
  border-radius: 8px;
  padding: 2% 5%;
  width: max(400px, 70%);
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.radioLabel > input {
  visibility: hidden;
  position: absolute;
}

.radioLabel {
  cursor: pointer;
}

.radioLabel > input:checked + div {
  background: rgba(202, 255, 207, 0.5);
  border: 1px solid #2f9d44;
  padding: 2.8% 5%;
  width: max(400px, 80%);
  font-weight: 600;
  color: #388440;
}

.Options_buttonRow {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Options_buttonRow > button {
  border: none;
  margin: 0 auto;
  border-radius: 20px;
  width: 45%;
}

.OTP_buttonRow {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.OTP_buttonRow > button {
  border: none;
  margin: 0 auto;
  border-radius: 20px;
  width: 45%;
}

.doctorschedCalendar,
.doctordateCalendar {
  color: #388440;
  font-weight: 500;
}

.modalCalendarHeader {
  color: #388440;
  font-weight: bold;
}

.hiddenCalendarFooter {
  display: none;
}

.servimg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2.5vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel-caption {
  position: absolute;
  top: 32%;
  bottom: 30%;
  left: 5%;
  padding: 2rem;
  background: rgba(243, 243, 243, 0.7);
  border-radius: 1vh;
  width: 33%;
  height: 35%;
  text-align: justify;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.serviceCaption {
  color: rgba(47, 157, 68, 1);
  font-size: 24px;
}

.servicepC {
  color: rgba(132, 132, 132, 1);
  font-size: 17px;
}

/* FAQS */
.accordion-button,
.accordion-button:focus {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  border-color: rgba(56, 132, 64, 1);
  box-shadow: none;
}

.accordion-item {
  border-color: rgba(56, 132, 64, 1);
  border-width: 2px;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(36, 183, 233, 0.15);
}

.hmoAccLabel {
  color: #388440;
  font-weight: bold;
}

.hmoitemsC {
  color: rgba(75, 80, 109, 1);
  font-size: 15px;
}

.calendarLabel {
  font-weight: 500;
  color: rgba(75, 80, 109, 1);
}

.doctornameCalendar {
  font-weight: bold;
  color: rgba(75, 80, 109, 1);
}

.doctorspCalendar,
.legendlabelC {
  color: rgba(75, 80, 109, 1);
}

.termsandcond {
  color: #2f9d44;
  cursor: pointer;
  font-weight: bold;
}

.termsandcond:active {
  color: #000;
}

.greetingTerms {
  text-align: justify;
}

.wordlistterms {
  text-align: justify;
  margin: 2%;
}

.numberlistedTerms {
  font-weight: bold;
  margin-right: 5px;
}

.mantine-qo482m {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
}

.BookingsearchForm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif !important;
}

.bookingtagtitle {
  color: rgba(56, 132, 64, 1);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: min(28px, 6vw);
  font-weight: 600;
  margin-top: 7px;
}
.mantine-jo8my5[data-completed] {
  background-color: #24b7e9 !important;
  border-color: #24b7e9 !important;
}

.mantine-amngjg {
  background-color: #24b7e9 !important;
}

.mantine-jo8my5[data-progress] {
  border-color: #24b7e9 !important;
}

.stepFinstruc {
  font-size: min(20px, 6vw);
  margin-bottom: 20px;
  text-align: center;
}

/* datepicker border */
.mantine-1y0d926,
.mantine-1swk0oy,
.mantine-vb5ezt {
  border: 1px solid #848484;
  border-radius: 7px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mantine-o00rr2,
.mantine-rsd5oj {
  border: 1px solid #848484;
  border-radius: 7px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.stepTwoBorder {
  margin-top: 10px;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #848484;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.Availnote {
  box-sizing: border-box;
  width: 85%;
  background: rgba(132, 132, 132, 0.5);
  border: 1px solid #848484;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.leveloneNote,
.specialNote {
  font-weight: 600;
}

.leveltwoNote {
  font-weight: 500;
}

.legendRowleft {
  align-items: center !important;
  margin-left: 20% !important;
  margin-right: 5% !important;
  font-weight: 500;
  font-family: "Inter";
}

.legendRowright {
  align-items: center !important;
  margin-left: 5% !important;
  margin-right: 20% !important;
  font-weight: 500;
  font-family: "Inter";
}

.datepickerRow {
  margin-left: 5% !important;
  margin-right: 20% !important;
}

.queuContainer {
  border: 1px solid #848484;
  border-radius: 7px;
  font-weight: 500;
  font-family: "Inter";
  align-items: center !important;
  margin-left: 20% !important;
  margin-right: 5% !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.queueNumber,
.recomGo {
  font-weight: 700;
}

.headerlegend {
  font-weight: 600 !important;
  font-size: 19px;
  font-family: "Inter";
}

.step1font {
  font-family: "Montserrat", sans-serif !important;
}
.mantine-1y0dcw0 {
  font-family: "Montserrat", sans-serif !important;
}

.mantine-1bvpemk {
  font-family: "Inter";
}

.stepTwoSkeleton {
  height: 100% !important;
}

.enterpatientinfo {
  font-family: "Inter" !important;
}

.patientinfoRow {
  margin-top: 4%;
}
.sppatientInfoRow {
  margin-top: 4%;
}

.stephandlerbuttonrow > button {
  border-radius: 20px !important;
  width: 120px;
}

.confirmbuttonrow > button {
  border-radius: 20px !important;
  margin: 5px;
  width: 90px;
}

.bookingConfirmationCard {
  max-width: 360px !important;
  border: 2px solid #000000 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 10px !important;
}

.reqheader {
  color: #4b506d;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
}

.reqscheddate {
  color: #848484;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: min(28px, 6vw);
}

.reqdoctorname {
  color: #848484;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
}

.reqdoctorspec {
  color: #848484;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
}

.reqline {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.bookingcardcompletedcontainer {
  border: 1px solid #000;
}

.gender {
  margin-bottom: 2%;
}

.conflict {
  color: red;
  text-align: center;
  font-weight: 600;
  margin-left: 12%;
  margin-top: 5%;
}

/**Nurse Page CSS**/
.smallLoading {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 87%;
}

.errorMSG {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 87%;
  text-align: center;
  font-weight: 600;
  color: red;
}
.Admin--HeadNav {
  background-color: aliceblue;
  border-bottom: 1px solid grey;
  height: 6.5vh;
}
.adminMainContainer {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  min-height: 93.5vh;
}
.adminMainContainer1 {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  min-height: 93.5vh;
}
.Admin--Dashboard_Container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.Admin--SideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0 2% 0;
  background-color: #00c2ff;
  z-index: 99;
  width: 80px;
}
.Admin--IconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15% 0;
  width: 80%;
  height: 5%;
  border-radius: 8px;
  cursor: pointer;
}

.Admin--IconContainer:hover > .Admin--Icons {
  stroke: black;
}
.Admin--IconContainer:hover {
  background-color: aliceblue;
}

.ThirdChild {
  margin-top: auto;
}

.LeftContent {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #e0f7ff;
}
.Admin--Dashboard_Container .search-row {
  height: 5%;
  width: 95%;
  display: flex;
  align-items: center;
}

.Admin--Search {
  width: max(184px, 100%);
}

.AppointmentTable--Header > div:nth-child(1) > p {
  margin: 0;
  padding: 0;
  font-size: min(1.2rem, 3.5vw);
  padding-top: 1%;
}

.Admin--SelectDoctor {
  appearance: none;
  background-image: url("./images/arrowdown.png"); /* Custom arrow icon */
  background-position: 95% 55%;
  background-repeat: no-repeat;
  background-size: 14px; /* Adjust the size of the arrow icon */
  border-radius: 15px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #434343;
  padding: 1% 4% 1% 1%;
  width: max(150px, 16.5vw);
  font-weight: 600;
}

.search-row > div:nth-child(1) {
  width: 25%;
}
.search-row > div:nth-child(2) {
  width: 75%;
  text-align: end;
}
.Admin--Dashboard_Container .AppointmentTable {
  height: 88%;
  width: 95%;
}
.RightContent {
  align-items: center;
  background-color: #c3f0ff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 35%;
}

.Dashboard--Calendar {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 52%;
  width: 92%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.Dashboard--Calendar > div:nth-child(1) {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4% 4% 0 4%;
}
.Dashboard--Calendar > div:nth-child(1) > h3 {
  color: #434343;
  font-size: min(1.2rem, 3.5vw);
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.Dashboard--Calendar > div:nth-child(1) > button {
  background-color: #29cc97;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: min(1rem, 3vw);
}
.Dashboard--Calendar > div:nth-child(1) > button:hover {
  background-color: rgb(38, 168, 51);
}

.Dashboard--Calendar > div:nth-child(2) {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
.Dashboard--Data {
  background-color: white;
  border-radius: 15px;
  height: 40%;
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  flex-direction: column;
}
.Dashboard--Data > button {
  border-radius: 20px;
  background-color: #29cc97;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: min(1rem, 3vw);
  padding: 1% 4%;
}

.AppointmentTable {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  justify-content: space-around;
  padding: 1% 0 0 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.AppointmentTable > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  height: 8%;
  justify-content: center;
  width: 95%;
}

.AppointmentTable > div:nth-child(1) > div > p {
  margin: 0;
  padding: 0;
}

.AppointmentTable > div:nth-child(1) > div {
  width: 50%;
  font-weight: 600;
  font-size: 1.3rem;
}

.AppointmentTable > div:nth-child(1) > div:nth-child(2) {
  text-align: end;
}

.DateRange {
  appearance: none;
  background-image: url("./images/arrowdown.png"); /* Custom arrow icon */
  background-position: 95% 55%;
  background-repeat: no-repeat;
  background-size: min(1rem, 3vw);
  border-radius: 15px;
  border: none;
  border: none;
  color: #2f9d44;
  color: #434343;
  font-weight: 600;
  padding-right: 1%;
  width: max(120px, 8.5vw);
}

.AppointmentTable > div:nth-child(2) {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.4rem;
}

.statusSelector > label > input + div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max(80px, 10vw);
  width: max(100px, 9vw);
  border-radius: 15%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: min(1.1rem, 3vw);
}
.statusSelector > label:nth-child(1) > input + div {
  background-color: #ececec;
  color: #949494;
  font-weight: 600;
  border: 1px solid black;
}
.statusSelector > label:nth-child(2) > input + div {
  color: #388440;
  font-weight: 600;
  background-color: #caffcf;
  border: 1px solid #949494;
}
.statusSelector > label:nth-child(3) > input + div {
  color: #ff0000;
  font-weight: 600;
  background-color: #ffb6b6;
  border: 1px solid red;
}

.statusSelector > label:nth-child(4) > input + div {
  color: blue;
  font-weight: 600;
  background-color: #8eabfa;
  border: 1px solid #00c2ff;
}

.statusSelector--label > input {
  visibility: hidden;
  position: absolute;
}

.statusSelector--label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.statusSelector--label > input:checked + div {
  transform: scale(1.03, 1.15);
}
.statusSelector--label > input:hover:not(input:checked) + div {
  transform: scale(1.02);
}
.AppointmentTable > div:nth-child(3) {
  height: 53%;
  width: 95%;
  background-color: #f4f4f4;
  border-radius: 15px;
}

.Admin--AppointmentContainer {
  overflow-y: auto;
  padding: 1% 0;
  margin: 2% 0;
  text-align: center;
}

.Admin--CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  width: 95%;
  margin: 0.8% auto;
  border-radius: 8px;
  padding: 0.6% 2%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.Admin--CardContainer > div:nth-child(1) {
  width: 55%;
  font-weight: 600;
  font-size: min(1.2rem, 3vw);
  text-align: left;
}

.Admin--CardContainer > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 45%;
}
.Admin--CardContainer > div:nth-child(2) > button {
  border: none;
  padding: 2% 10%;
  font-size: min(1rem, 2.8vw);
  border-radius: 30px;
  font-weight: 600;
}
.Admin--Flex {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.Admin--Flex > div:nth-child(1) {
  width: 35%;
}
.Admin--Flex > div:nth-child(2) {
  width: 65%;
}

.Admin--Flex > div:nth-child(2) {
  text-align: end;
}
.Admin--Flex > div:nth-child(2) > button {
  margin: 2%;
}

.Admin--ButtonRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Admin--ButtonRow > button {
  font-size: min(0.9rem, 2.4vw);
  border-radius: 20px;
  width: 50%;
}
.setAvailTitle {
  font-size: min(1.5rem, 5vw);
}
/**Nurse CSS Calendar Page**/
.Admin--Calendar_Container {
  margin-bottom: auto;
  width: 100%;
  height: 93.5vh;
  display: flex;
  flex-direction: row;
}

.Calendar_Container--left {
  width: 50%;
  height: 100%;
  display: flex;
  background-color: #e0f7ff;
  padding: 1.2% 1.5%;
  display: flex;
  flex-direction: column;
}
.Calendar_Container--left > div:nth-child(1) {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Calendar_Container--left > div:nth-child(1) .search-row {
  display: flex;
  align-items: center;
}

.Schedule_Calendar_Container {
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  height: 65%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  padding: 3%;
  gap: 5%;
  flex-shrink: 0;
}
.Schedule_Calendar_Container > div {
  display: flex;
}

.Schedule_Calendar_Container > div:nth-child(1) h3 {
  color: #434343;
  font-size: min(1.2rem, 3.5vw);
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.Schedule_Calendar_Container > div:nth-child(2) {
  font-size: min(1.1rem, 3.3vw);
}

.Schedule_Calendar_Container > div:nth-child(3) {
  display: flex;
  font-size: min(1.1rem, 3.3vw);
}

.Schedule_Calendar_Container > div:nth-child(3) > div {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Schedule_Calendar_Container > div:nth-child(4) {
  flex-grow: 1;
  display: flex;
  justify-content: center;

  align-items: center;
}

.legend {
  margin-right: 8px;
}

.Calendar_Container--left > div:nth-child(3) {
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-top: 5%;
  flex-grow: 1;
}
.Calendar_Container--right {
  width: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  height: 100%;
  background-color: #c3f0ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  gap: 4%;
}

.Calendar_Container--container {
  background-color: #f4f4f4;
  height: 92%;
  width: 95%;
  padding: 1% 0;
  overflow: auto;
  border-radius: 15px;
  text-align: center;
}
.Calendar_Container--right > div {
  width: 100%;
  border-radius: 15px;
}

.Calendar_Container--right > div:nth-child(1) {
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NotifyPatients {
  height: 23%;
  padding: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.NotifyPatients > div:nth-child(1) {
  font-weight: 600;
  font-size: min(1.6rem, 3.9vw);
  text-align: center;
  color: #434343;
}

.NotifyPatients > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 100%;
  justify-content: space-around;
  flex-grow: 1;
}

.NotifyPatients > div:nth-child(2) > button {
  height: 40%;
  padding: 0 6%;
  font-size: min(1.2rem, 3.5vw);
}

.NotifyPatients > div:nth-child(2) > button:nth-child(1) {
  color: white;
  background-color: #29cc97;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5rem;
  font-size: min(1.1rem, 3vw);
}
.NotifyPatients > div:nth-child(2) > button:nth-child(2) {
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: red;
  border-radius: 5rem;
  font-size: min(1.1rem, 3vw);
}
.CancelAll {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3%;
  height: 23%;
}

.CancelAll > div {
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 5%;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  width: 50%;
  font-size: min(1.4rem, 3.5vw);
  font-weight: 600;
  text-align: center;
  color: #434343;
}

.CancelAll > div:nth-child(1) > button:hover,
.NotifyPatients > div:nth-child(2) > button:nth-child(1):hover,
.NotifyDoctor > button:hover {
  background-color: rgb(38, 168, 51) !important;
}
.CancelAll > div:nth-child(2) > button:hover,
.NotifyPatients > div:nth-child(2) > button:nth-child(2):hover {
  background-color: rgb(185, 31, 31);
}
.CancelAll > div:nth-child(1) > button {
  background-color: #29cc97;
  border-radius: 3rem;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: min(1rem, 3vw);
  height: 23%;
  width: 50%;
  border-radius: 5rem;
}

.CancelAll > div:nth-child(2) > button {
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: red;
  border-radius: 5rem;
  height: 23%;
  width: 50%;
  font-size: min(1rem, 3vw);
}

.NotifyDoctor {
  height: 23%;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  gap: 20%;
}

.NotifyDoctor > button {
  background-color: #29cc97;
  border-radius: 3rem;
  height: 30%;
  width: 35%;
  font-size: min(1.1rem, 3vw);
}

.NotifyDoctor > div:nth-child(1) {
  font-weight: 600;
  font-size: min(1.6rem, 3.9vw);
  text-align: center;
  color: #434343;
}

.Empty {
  font-weight: 600;
  font-size: min(1.6rem, 3.9vw);
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.serverDownContainer {
  height: 100vh;
  width: 100vw;
  background-color: #c3f0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #29cc97;
  font-size: 4rem;
  font-weight: 600;
}
