/* For header Navbar and Image font size/spacing*/
@media only screen and (min-width: 560px) and (max-width: 991px) {
  .headerinfo,
  .homeinfo {
    font-size: 42px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 559px) {
  .headerinfo,
  .homeinfo {
    font-size: 30px;
  }

  .tagtitle {
    font-size: 24px;
  }

  .carousel-inner {
    font-size: 16px;
  }
  .tagsupport {
    font-size: 14px;
  }
  .Booking--homefooterwave-container,
  .Booking--footerwave-container {
    font-size: 12px;
  }
}

@media only screen and (min-width: 373px) and (max-width: 399px) {
  .headerinfo,
  .homeinfo {
    font-size: 28px;
  }

  .tagtitle {
    font-size: 20px;
  }

  .carousel-inner {
    font-size: 15px;
  }

  .tagsupport {
    font-size: 13px;
  }
  .Booking--homefooterwave-container,
  .Booking--footerwave-container {
    font-size: 12px;
  }
}

@media only screen and (max-width: 372px) {
  .headerinfo,
  .homeinfo {
    font-size: 21px;
  }

  .tagtitle {
    font-size: 18px;
  }

  .carousel-inner {
    font-size: 13px;
  }

  .tagsupport {
    font-size: 12px;
  }
  .Booking--homefooterwave-container,
  .Booking--footerwave-container {
    font-size: 12px;
  }
}

@media only screen and (min-width: 712px) and (max-width: 1072px) {
  .headermed-container {
    height: 45vh;
  }

  .homefloatinginfo-container {
    height: 15.5vw;
    width: 30vw;
  }

  .floatinginfotitle {
    font-size: 1.8vw;
  }

  .floatinginfodescription {
    font-size: 1vw;
  }
}

@media only screen and (max-width: 711px) {
  .headermed-container {
    background: url("./images/headermedmobile1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
  }
  .homefloatinginfo-container {
    height: 35vw;
    width: 60vw;
    bottom: 3vw;
    right: 2.5vw;
  }

  .floatinginfotitle {
    font-size: 4.2vw;
    margin-top: 2vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }

  .floatinginfodescription {
    font-size: 2.2vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-bottom: 2.5vw;
  }
}

@media only screen and (width: 280px) and (height: 653px) {
  .headermed-container {
    height: 40vh;
  }
}

@media only screen and (min-width: 711px) and (max-width: 900px) {
  .homefloatinginfo-container {
    height: 18.5vw;
    width: 32vw;
  }

  .floatinginfotitle {
    font-size: 2.2vw;
  }

  .floatinginfodescription {
    font-size: 1.2vw;
  }
}

/* For header Navbar and Image font size/spacing*/

/* For Services */

@media only screen and (min-width: 1064px) and (max-width: 1199px) {
  .services-info {
    max-width: 450px !important;
  }

  .serv-text {
    font-size: 22px;
  }

  .serv-sub {
    font-size: 14px;
  }
  .services-container {
    margin: 4vw;
    margin-top: 0;
  }

  #serv-textid {
    padding-top: 1.5rem !important;
    margin: 0.7rem !important;
  }

  #serv-buttonid {
    padding-bottom: 0.7rem !important;
  }

  #serv-subid {
    margin: 0.7rem !important;
  }
}

@media only screen and (min-width: 510px) and (max-width: 1063px) {
  .serv-text {
    font-size: 21px;
  }

  .serv-sub {
    font-size: 13px;
  }
}
@media only screen and (min-width: 720px) and (max-width: 1063px) {
  .services-container {
    margin-left: 20vh;
    margin-right: 20vh;
  }
  #serv-textid {
    padding-top: 1.2rem !important;
    margin: 0.7rem !important;
  }
}
@media only screen and (min-width: 720px) and (max-width: 850px) {
  .services-container {
    margin-left: 12vh;
    margin-right: 12vh;
  }
}

@media only screen and (min-width: 510px) and (max-width: 719px) {
  .services-container {
    margin: 2vh;
    margin-top: 0;
  }
}

@media only screen and (max-width: 719px) {
  .services-info {
    width: 80vw !important;
  }

  .serv-text {
    font-size: 18px;
  }

  .serv-sub {
    font-size: 12px;
    line-height: 1.7;
  }
  .services-container {
    margin: 0;
  }

  #serv-textid {
    padding-top: 1rem !important;
    margin: 0.7rem !important;
  }

  #serv-buttonid {
    padding-bottom: 0.7rem !important;
  }

  #serv-subid {
    margin: 0.7rem !important;
  }
}
/* For Services */

/* For Search Doctor */
@media only screen and (min-width: 701px) and (max-width: 1255px) {
  .form-search {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
  }
  .search-responsive {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .form-search > input {
    width: 250px !important;
    margin: 5px;
    font-size: var(--font-size) !important;
  }
  .form-search > select {
    width: 511px !important;
    margin: 5px;
    font-size: var(--font-size) !important;
  }
}

@media only screen and (max-width: 700px) {
  :root {
    --font-size: 12px;
  }
  /*!Seach Form*/
  col-1 .tagtitle {
    font-size: 25px;
  }
  .form-search {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
  }
  .search-responsive {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .form-search > input {
    width: 150px !important;
    margin: 5px;
    font-size: var(--font-size) !important;
  }
  .form-search > select {
    width: 311px !important;
    margin: 5px;
    font-size: var(--font-size) !important;
  }
  .Clear,
  .Search {
    font-size: var(--font-size) !important;
  }
  /*!Card-Container*/
  .card-container {
    height: auto;
    width: 90%;
    margin: 5% auto;
  }
  .doctor-flexbox-container {
    border: 1px solid #24b7e9;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .doctor-flexbox-Info .Lname {
    font-weight: bold;
    font-size: 1rem;
  }
  .doctor-flexbox-Info .Fname {
    margin-bottom: 8px;
    font-size: 0.85rem;
  }
  .doctor-flexbox-Info .HMO_Accreditation .HMO_Head {
    font-size: 0.9rem;
  }
  .doctor-flexbox-Info .specialization,
  .HMO_Accreditation {
    font-weight: 600;
    font-size: var(--font-size);
    margin-bottom: 2px;
  }
  .header {
    font-size: 0.95rem;
    margin: 0 0 5px 0 !important;
  }
  .doctor-flexbox-Avail {
    top: 8%;
    left: 60%;
  }
  .sched {
    font-size: 0.6rem;
  }
  .notFound {
    margin: 2%;
  }
  /*!Track Me*/
  .form-track input {
    text-align: center;
    width: 350px !important;
    font-size: var(--font-size) !important;
    padding: 5px;
  }
  .Search-track {
    font-size: var(--font-size);
  }
  .tagtitle--p {
    font-size: var(--font-size);
    text-align: center;
  }
  .edit-title {
    margin: 2% auto 10% auto;
  }
  .edit-Button_Row {
    margin: 5% auto;
  }
}

/* For Search Doctor */

/*! Track Appointment Media Query*/

@media (min-width: 601px) and (max-width: 750px) {
  .Track--sub_container {
    margin-top: 12%;
  }
}

@media only screen and (max-width: 600px) {
  .NavBar--logo {
    position: absolute;
    top: 15%;
    left: 3%;
  }
  .NavBar--background {
    width: 180%;
    height: 10vh;
  }
  .Tracking--Footer img {
    width: 180%;
  }
  .Track--sub_container {
    width: 100%;
    height: 75vh;
  }
  /* .sub-title,
    .end-title {
        font-size: 15px;
        text-align: center;
        padding: 5px;
    } */
  .patient-list_Container {
    height: 50vh;
    width: 90%;
    margin-bottom: 12px;
  }
  .patient-card {
    padding: 8px 20px;
  }
  .patient-name {
    font-size: 14px;
    margin: 0 0 8px 0;
  }
  .patient-gender {
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 12px;
  }
  .card-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Tracker--modal--flexbox {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}

/*! Track Appointment Media Query*/

/*! View Appointments Media Query */

@media only screen and (max-width: 600px) {
  .View-appointment_Main-Container {
    margin: auto 0;
  }
  .appointment-card {
    flex-direction: column;
  }
  .appointment-card > div:nth-child(1) {
    width: 100%;
  }
  .appointment-card--patient-info {
    text-align: center;
    margin: 0;
  }
  .appointment-card--doctor-info {
    text-align: center;
  }
  .hr {
    display: block;
  }
  .view-backBtn {
    margin: 0 auto;
  }

  /* .appointment-card>div:nth-child(1) {
        width: 52%
    }
    .appointment-status {
        font-size: 1.1rem;
    }
    .card--patient-name,
    .card--doctor-name {
        font-size: 0.95rem;
    }
    .card--appointment-header,
    .card--doctor-spec {
        font-size: 0.8rem;
    }
    .appointment-date {
        font-size: 0.7rem;
    } */
}

/*! View Appointments Media Query */

/*1st Page Booking */
@media only screen and (max-width: 1000px) {
  .booking--headerwave-container {
    padding: 3%;
  }
  .Booking--wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .FirstPage--body-wrapper {
    flex-direction: column;
    margin-top: 5%;
  }
  .Booking-banner {
    height: 60%;
    width: 100%;
    margin-top: 3%;
    object-fit: cover;
    border-radius: 15px;
  }
  .Banner-wrapper {
    width: 88%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .First_Page_Content {
    padding: 5%;
  }
  .FirstPage--body-wrapper > h3:nth-of-type(1) {
    color: #2f9d44;
    font-weight: 600;
    font-size: min(28px, 5vw);
  }
  .First_Page_Content > h3 {
    text-align: center;
    margin: 0 0 8% 0;
  }
  .First-page_input {
    margin: 5% 0 1% 0;
  }
  #terms {
    margin: 5% 1% 0 0;
  }
  .FirstPage--buttonRow {
    margin: 20% auto 0 auto;
    width: 70%;
  }

  picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .radioLabel {
    margin: 1%;
  }
  .Options_buttonRow {
    width: 60%;
  }
}

/* For Calendar */
@media only screen and (max-width: 509px) {
  /* Overrides for datepicker */

  /* days of the week */
  .mantine-1ttfk34 {
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat";
  }

  .mantine-13utz3y {
    font-size: 15px;
    font-weight: 500;
  }

  /* dates */
  .mantine-101mdw0 {
    font-family: "Montserrat";
    font-weight: 600;
    height: 2.2rem;
    font-size: 15px;
    margin-bottom: 0.3rem;
  }

  /* monthheader*/
  .mantine-1yba8pm {
    font-family: "Montserrat";
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 0;
  }
  .mantine-1yba8pm:hover {
    background: rgba(34, 208, 52, 1);
  }
  /* monthselection*/
  .mantine-1g2a0oc {
    font-family: "Montserrat";
    font-weight: 600;
  }
  .mantine-1g2a0oc:hover {
    background: rgba(34, 208, 52, 1);
  }

  /* yearselection*/
  .mantine-1g2a0oc {
    font-family: "Montserrat";
    font-weight: 600;
  }

  .mantine-1g2a0oc:hover {
    background: rgba(34, 208, 52, 1);
  }

  /* arrows */
  .mantine-oky2eo:hover {
    background: rgba(34, 208, 52, 1);
  }
}

@media only screen and (max-width: 280px) and (max-height: 653px) {
  .doctor-flexbox-container {
    height: 70vw;
    margin: 1.5vw;
  }

  /* days of the week */
  .mantine-1ttfk34 {
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat";
    font-size: 13px;
  }

  /* dates */
  .mantine-101mdw0 {
    font-family: "Montserrat";
    font-weight: 600;
    height: 2.2rem;
    width: 1.7rem;
    font-size: 12px;
    margin-bottom: 0.3rem;
  }

  /* monthheader*/
  .mantine-1yba8pm {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 0;
  }

  /* monthselection*/
  .mantine-1g2a0oc {
    font-family: "Montserrat";
    font-weight: 600;
    width: 4.7rem;
  }
}

@media screen and(min-width:1200px) and (max-width: 1392px) {
  .servimg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2.5vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .carousel-caption {
    position: absolute;
    top: 32%;
    bottom: 30%;
    left: 5%;
    padding: 2rem;
    background: rgba(243, 243, 243, 0.7);
    border-radius: 1vh;
    width: 33%;
    height: 35%;
    text-align: justify;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .serviceCaption {
    color: rgba(47, 157, 68, 1);
    font-size: 22px;
  }

  .servicepC {
    color: rgba(132, 132, 132, 1);
    font-size: 15px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1300px) {
  .accordion-button {
    font-size: 14px;
  }

  .accordion-body {
    font-size: 14px;
  }
}

@media screen and (max-width: 750px) {
  .accordion-button {
    font-size: 12px;
  }

  .accordion-body {
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  .hmoAccLabel,
  .calendarLabel,
  .doctornameCalendar,
  .doctorspCalendar,
  .legendlabelC {
    font-size: 15px;
  }

  .hmoitemsC {
    font-size: 14px;
  }

  .modalCalendarHeader {
    font-size: 20px;
  }
}

@media screen and (width: 280px) and (height: 653px) {
  .hmoAccLabel,
  .calendarLabel,
  .doctornameCalendar,
  .doctorspCalendar,
  .legendlabelC {
    font-size: 14px;
  }

  .hmoitemsC {
    font-size: 13px;
  }
}

@media screen and (max-width: 700px) {
  .greetingTerms,
  .verificationModalB,
  .Options_P,
  .radioLabel > input + div,
  .otp-input {
    font-size: 14px;
  }
  .modal-title {
    font-size: 19px !important;
  }

  .wordlistterms {
    font-size: 14px;
  }

  .FirstPage--buttonRow > button:nth-child(1),
  .FirstPage--buttonRow > button:nth-child(2),
  .OTP_buttonRow > button,
  .TrackAtHome--buttonRow > button,
  .Options_buttonRow > button,
  .stephandlerbuttonrow > button {
    font-size: 12px;
  }
  .stephandlerbuttonrow > button {
    width: 110px;
  }
  .mantine-qo482m {
    width: 45%;
  }
}

@media screen and (max-width: 992px) {
  .legendRowleft {
    margin: 10% !important;
    margin-bottom: 0% !important;
  }

  .legendRowright {
    margin: 10% !important;
    margin-bottom: 0% !important;
  }

  .datepickerRow {
    margin: 10% !important;
    margin-top: 0% !important;
  }

  .queuContainer {
    margin: 10% !important;
    margin-top: 0% !important;
  }
}

@media screen and (max-width: 700px) {
  .leveloneNote,
  .specialNote,
  .leveltwoNote,
  .legendRowleft,
  .legendRowright,
  .datepickerRow,
  .queuContainer,
  .queueNumber,
  .recomGo,
  .headerlegend {
    font-size: 15px;
  }

  .legendRowleft,
  .queuContainer {
    margin: 1% !important;
    margin-top: 7% !important;
  }

  .legendRowright,
  .datepickerRow {
    margin: 2% !important;
    margin-top: 7% !important;
  }

  .stepTwoBorder {
    box-shadow: none;
    border: none;
  }

  .reqheader {
    font-size: 19px;
  }

  .reqdoctorname {
    font-size: 18px;
  }

  .reqdoctorspec {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .patientinfoRow {
    margin-top: 0%;
  }

  .patientInfolabel {
    margin-top: 3%;
    font-size: 15px;
  }
  .patientInfolabeldob {
    margin-top: 5%;
  }

  .headerinfolabel {
    font-size: 15px;
  }
  .patientinfo_error {
    color: red;
    font-weight: 600;
    font-size: 14px;
  }
}

/**Nurse Page CSS**/
@media screen and (max-width: 1000px) {
  .statusSelector > label > input + div {
    border-radius: 8%;
    margin: 10%;
  }
}

@media screen and (max-width: 800px) {
  .Admin--Dashboard_Container {
    flex-direction: column;
    justify-content: start;
  }
  .Admin--Dashboard_Container {
    width: 100%;
    height: 1000px;
  }
  .adminMainContainer {
    flex-direction: column-reverse;
    min-height: 100vh;
  }
  .Admin--SideBar {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 50px;
    flex-direction: row;
  }
  .Admin--SideBar > div:nth-child(3) {
    margin-top: 0;
  }
  .Admin--IconContainer {
    margin: 0 auto;
    width: 13%;
    height: 45px;
  }

  .Admin--SelectDoctor {
    font-weight: 500;
  }

  .LeftContent {
    height: 75%;
    width: 100%;
  }
  .RightContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
  }

  .RightContent > div:nth-child(1) {
    height: auto;
  }

  .RightContent > div:nth-child(2) {
    height: 50%;
  }
  .Admin--Flex {
    flex-direction: column;
  }
  .Admin--Flex > div:nth-child(1) {
    text-align: center;
    margin-bottom: 2%;
  }
  .Admin--Flex > div:nth-child(2) {
    text-align: center;
  }
  .AppointmentTable > div:nth-child(2) {
    justify-content: center;
  }
  .Admin--Flex > div:nth-child(1) {
    width: 100%;
  }
  .Admin--Flex > div:nth-child(2) {
    width: 80%;
  }

  .RightContent {
    padding: 5% 0;
    gap: 5%;
    height: 550px;
  }
  .Dashboard--Calendar > div:nth-child(2) {
    margin: 5% 0;
  }

  .Admin--Calendar_Container {
    flex-direction: column;
  }
  .Admin--Calendar_Container > div:nth-child(1) {
    height: 100%;
    border: 1px solid red;
  }

  .Admin--Calendar_Container > div {
    width: 100%;
  }
  .Admin--Calendar_Container > div:nth-child(1) {
    flex-shrink: 0;
  }
}
