

@media screen and (max-width: 700px) {
.subheaderlogin{
    font-size: 16px;
}
}

@media (max-width: 1200px) {
    .Head--DashboardContainer {
      flex-direction: column;
      align-items: stretch;
    }
    .Head--DashboardContainer > div:nth-child(1),
    .Head--DashboardContainer > div:nth-child(2) {
        width: 100%;
      
      }
     
 
      .Head--Dashboard-left > div:nth-child(1),
      .Head--Dashboard-left > div:nth-child(2)
        {
     
        width: 95%;
      }
      
      .addconfirmbuttonrow > button{
        width: 80px;
      }
      .Head--Dashboard-right > div:nth-child(1){
        width: 95%;
        height: 50%;
      }

      .Head--Dashboard-right > div:nth-child(2){
        width: 95%;
        height: 50%;
      }

     
   
  }
  @media (max-width: 1200px) {
    .dashboard-container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }